.header{
    background-color: #000407;
    color: #32b9cd;
  
}

.header .container{/** esse estilo só será aplicado caso o container esteja dentro de um header*/
    display: flex;
    justify-content: space-between;

}

.container{
    margin: 80%;
  
}

.navbar{
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 400px;
    
}